/* archivo: estilo_SNK */

/* ——————————  PALETA DE COLOR ——————————
   Verde esmeralda: #227a5e
   Dorado suave:    #d2b48c
   Gris carbón:     #1a1a1a
   Gris claro:      #f2f2f2
———————————————————————————————————— */

body {
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    color: #227a5e;
    letter-spacing: 1px;
    margin-top: 40px;
}

div {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #f8f8f8;
    background-color: rgba(26, 26, 26, 0.7);
    padding: 20px 25px;
    border-radius: 12px;
    line-height: 1.6;
    
}

p {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: #e9e9e9;
    text-align: justify;
    line-height: 1.7;
}
